//colors

$color-primary: #76f4ea;
$color-header-background: #eff0f2;
$color-about-us-background: #f8fafa;
$color-team-background: #f9fbfb;
$color-form-background: #021623;
$color-footer-background: #262b2e;

$color-header-text: #505050;
$color-description: #5a5b5b;
$color-text: #3e3f3f;
$color-employee-post: #767776;

$color-black: #000000;

//width

$content-width: 1144px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;


