%Merriweather {
    font-family: "Merriweather", Verdana, sans-serif;
}

%Raleway {
    font-family: "Raleway", Verdana, sans-serif;
}

%Montserrat {
    font-family: "Montserrat", Verdana, sans-serif;
}


